
@{
    ViewBag.Title = "Table";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>表格</h2>

<h3>基本实例</h3>
<mark>.table</mark>

<h3>条纹状表格</h3>
<mark>.table-striped</mark>

<h3>带边框的表格</h3>
<mark>.table-bordered</mark>

<h3>鼠标選中</h3>
<mark>.table-hover</mark>

<h3>紧缩表格</h3>
<mark>.table-condensed</mark>

<h3>状态类</h3>
<mark>.table</mark>

<h3>响应式表格</h3>
<pre>
        &lt;div&gt; class="table-responsive">
        &lt;table class="table">
            ...
        &lt;/table&gt;
        &lt;div&gt;div>&lt;/div&gt;
</pre>



