@{
    Layout = null;
}

@using (Ajax.BeginForm("Find", "Contact", new AjaxOptions
{
    OnSuccess = "renderCustomerList",
    OnFailure = "failur"
}))
{
    <fieldset>
        <label class="control-label" for="firstName">First Name. :</label>
        <input type="text" name="firstName" class="input-medium search-query" />
        <label class="control-label" for="lastName">Last Name :</label>
        <input type="text" name="lastName" class="input-medium search-query" />
        <input type="submit" value="查詢" class="btn btn-primary" />
    </fieldset>
}